
.weather{
    position: relative;
    float: right;
    width: 280px;
    height: 150px;
    color: rgba(0,0,0,0.9);
    text-align: right;
    font-size: 60px;
    text-shadow:  1px 10px 15px rgba(0,0,0,0.5);
}
.temp{
    position: absolute;
    font-size: 35px;
    font-weight: 100;
    left: 0px;
    margin-top: 0px;
    margin-left: 10px;
    text-shadow: none;
}

.unit{
    font-size: 35px;
    font-weight: 100;
    top:0;
    left: 0;
    text-shadow: none,;
}
.weather > .icon{
    position: relative;
    top: 10px;
}

.weather .day{
    position: absolute;
    font-size: 27px;
    font-weight: 100;
    text-transform: uppercase;
    bottom: 5px;
    right: 0;
    margin-right: 10px;
    text-shadow: none;
    opacity: 0.7;
    z-index:10;
}