
  mat-list.list-horizontal {
    padding: 0;
    float: bottom;
    width:100%
  }

  mat-list-item.list-horizontal {
    display: inline-block;
    height: auto;
    width: auto;
    background-color: darkcyan;
}